{% extends "hello/layout.html" %}
{% block title %}

{% endblock %}
{% block content %}
<div class="features">
    <h1 class="h_h">Коды статуса</h1>
    <form class="form">
        {% if status %}
        {% for el in status %}
            <div class="warning">
                <h3 class="info">Код: {{ el.ord_status_code }}</h3>
                <p class="info">Название: {{ el.ord_stat_name }}</p>
            </div>
        {% endfor %}
    </form>
    <a class="btn-back" href = "{% url 'all_tasks' %}"><button type="submit" class="btn-action">Назад</button></a> 

</div>
{% endif %}
{% endblock %}